{{- if and .Values.enabled .Values.networkPolicy.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "mycurev8.fullname" . }}
  namespace: {{ include "mycurev8.namespace" . }}
  labels:
    {{- include "mycurev8.labels" . | nindent 4 }}
spec:
  podSelector:
    matchLabels:
      {{- include "mycurev8.selectorLabels" . | nindent 6 }}
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: {{ .Values.networkPolicy.gateway.namespace }}
          podSelector:
            matchLabels:
              app.kubernetes.io/name: {{ .Values.networkPolicy.gateway.name }}
      ports:
        - protocol: TCP
          port: {{ .Values.service.targetPort }}
  egress:
    - to:
        - namespaceSelector: {}
          podSelector:
            matchLabels:
              k8s-app: kube-dns
      ports:
        - protocol: UDP
          port: 53
    - to:
        - namespaceSelector: {}
      ports:
        - protocol: TCP
          port: 443
{{- end }}
